[data-is="command-palette-modal"] {
    display: block;
}

.ak-c-modal:has([data-is="command-palette-modal"]) {
    --ak-c-modal--MarginBlockStart: 25dvh;
    --ak-c-modal--BackgroundColor: var(--pf-global--palette--orange-500);
    --ak-c-modal--BorderColor: var(--pf-global--palette--orange-600);
    --ak-c-modal__backdrop--active--BackdropFilter: blur(1px);

    --ak-c-command-palette--BackdropFilter: blur(4px);

    border-radius: var(--pf-global--BorderRadius--sm);
    backdrop-filter: var(--ak-c-command-palette--BackdropFilter);
    transform: translate3d(0, 0, 0); /* Fixes rendering artifacts. */
}
